@import "../app.component";

.login {
  display: grid;
  width: 300px;
  height: 200px;
  background-color: $panelBackground;
  margin: 80px auto auto auto;
  border-radius: 1px;
  box-shadow: 0 3px 6px $shadowD, 0 3px 6px $shadowL;
  padding: 20px;

  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: $titleFont;
  }

  input[type="password"], input[type="text"] {
    width: 240px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;

    border: 1px solid #a1a3a3;
    color: $primary;
    padding-left: 3px;
    transition: box-shadow 0.3s;
  }

  input[type="password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 4px 1px $shadowL;
    outline: 0;
  }

  input[type="submit"], button {
    display: block;
    background-color: $primary;
    color: white;
    height: 30px;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: none;
    box-shadow: 0 3px 6px $shadowD, 0 3px 6px $shadowL;
  }
}
